@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
@import '../variables';
@import '../blocks/card';
@import '../blocks/stars';

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $title-color;
  font-size: 10px;
  line-height: 140%;
}
