.card {
  width: 200px;

  &__container {
  max-width: 166px;
  margin: 32px 16px;
  }

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }

  &__description {
    margin-top: 8px;
    font-size: 10px;
    line-height: 140%;
    color: $secondary-color;
  }

  &__rate-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__price-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 24px 0 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 113%;

    &--title {
      font-size: 12px;
      line-height: 150%;
      color: $secondary-color;
      font-weight: 400;
    }
  }

  &__button {
    padding: 12px 70px;
    border-radius: 5px;
    background: $blue-accent;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    display: flex;

    &:hover {
      border: 1px solid $blue-accent;
      background: $white;
      color: $blue-accent;
    }
  }
}
